
@using EntityLayer.Concrete
@*@using EntityLayer.Concrete*@
@model List<Product>

@{
    ViewBag.Title = "ListOfProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div style="display:flex;justify-content:flex-end" class="buttondiv">
    <div style="display:flex;justify-content:flex-end">
        <button style="width:200%" class="btn btn-outline-info" data-toggle="modal" data-target="#Modal1">
            New Product
        </button>


    </div>
    @Html.Action("_PartialProductAdd", "AdminProduct")
    @*<a href="~/AdminProduct/AddProduct" class="btn btn-outline-primary" style="width: 15%">New Product</a>*@
</div>
<br />
<table class="table table-bordered" style="text-align:center">

    <tr>
        
        <th> Category Name</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>

            <td>@item.Category.Name</td>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td>@item.Description</td>
            <td> <a href="~/AdminProduct/UpdateProduct/@item.ProductId" style="width:60%" class="btn btn-info">Update</a> </td>
            <td> <a href="~/AdminProduct/DeleteProduct/@item.ProductId" style="width: 60%" class="btn btn-danger">Delete</a> </td>
        </tr>

    }

</table>

