@using EntityLayer.Concrete
@model List<SaleCart>
@{
    ViewBag.Title = "SaleScreen";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">

                <button id="myButton" style="width:20%;margin-right:5px;color:black" class="btn  btn-outline-info" data-toggle="modal" data-target="#Modal1">
                    Search Product
                </button>

                @Html.Action("SalePopup", "Sale")

                <a class="btn btn-outline-warning" href="~/Sale/DeleteChart" style="width: 20%; margin-right: 5px;text-decoration:none; color: black">Clear Chart</a>
                <hr />
                <br />
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between">
                    <span>Chart</span>
                    <div class="d-flex flex-row align-items-center">

                        <div class="price ml-2"><span class="mr-1">Price $</span></div>
                    </div>
                </div>

                @{
                    int? TotalPrice;
                }
                @foreach (var item in Model)
                {

                   
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                        <div class="d-flex flex-row">
                            <img class="rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVUlqCtI1EqLkv0Tt2MyIo3qdZgJl9aPsn1Q&usqp=CAU" width="40">
                            <div class="ml-2">
                                <span class="font-weight-bold d-block">
                                    @item.Product.Name
                                </span>
                                <span class="spec">
                                    @item.Product.Description
                                </span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <span class="d-block">
                                X @item.Quantity  (@item.Price$)
                            </span>
                            <span class="d-block ml-5 font-weight-bold">
                                @{
                                    int? Quantity = item.Quantity;
                                    float? Price = item.Price;
                                    float? total = Quantity * Price;
                                    TotalPrice = Convert.ToInt32(total);

                                }
                                @total$
                            </span>
                            <i class="fa fa-trash-o ml-3 text-black-50">
                            </i>
                            <a href="~/Sale/RemoveProduct/@item.ProductId" class="btn btn-warning" style="margin-right:5px">
                                Remove
                            </a>
                            <a href="~/Sale/Edit/@item.ProductId" class="btn btn-info">Edit</a>
                        </div>
                    </div>
                                    }
            </div>
        </div>
        <div class="col-md-4">
            @Html.Action("Prt_PaymentDetails", "Sale")
        </div> 
    </div>
</div>